.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 3rem;
  align-items: flex-start;
}

.image img {
  width: 100%;
  border-radius: var(--radius-lg);
  background: #fff;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  font-size: var(--fs-xl);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.old {
  font-size: 1.25rem;
  text-decoration: line-through;
  color: var(--color-secondary);
}

.desc {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.moreBtn {
  font-size: 0.9rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Mobile */
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 2rem;
  }

  .actions {
    flex-direction: column;
    align-items: stretch;
  }
}
