.section {
  background: var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 2rem 0 0;
}

.container {
  max-width: var(--container);
  margin: 2rem 2rem 0 2rem;
}
 
.title {
  text-align: center;
  margin-bottom: 2rem; 
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 2rem; 
  padding: 0; 
  margin-right: 2rem;
}

.image {
  flex: 1;
  min-height: 14rem;
  width: 100%;
}

.formWrap {
  flex: 1;
  max-width: 32rem;
  padding-bottom: 2rem;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem 1.5rem;
  }

  .formWrap {
    width: 100%;
  }

  .image {
    width: 100%;
    min-height: 10rem;
  }
}
