.section {
  background: var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 0 2.5rem;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}
 
.title {
  text-align: center;
  margin-bottom: 2rem;
  color:  #fff; 
  font-size: var(--fs-xxl);
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 2rem; 
  padding: 0; 

}

.image {
  flex: 1;
  min-height: 14rem;
  width: 100%;
}

.formWrap {
  flex: 1;
  padding-bottom: 2rem;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .formWrap {
    width: 100%;
  }

  .image {
    width: 90%;
    min-height: 10rem;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
  .image {
    width: 100%;
    min-height: 10rem;
  }

}
