.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
}

.text {
  font-size: var(--fs-md);
  margin-bottom: 2rem;
}

.btn {
  padding: 0 2.5rem;
  border-radius: var(--radius-sm);
  font-size: var(--fs-md);
  font-weight: 600;
}
