.filterBar {
  margin-bottom: var(--space-lg);
  gap: var(--space-md);
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.filterBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
  flex-shrink: 0;
}

.label {
  font-size: var(--fs-md);
  font-weight: 600;
  color: var(--color-text);
  white-space: nowrap;
}

.priceInputs {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.priceInputs input {
  flex: 1;
  min-width: 0;
 max-width: 7rem;
  height: 2.25rem; /* логичная высота */
  padding: 0 var(--space-sm);

  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-sm);

  font-family: var(--font-main);
  font-size: var(--fs-md);
  transition: var(--transition);
}

.priceInputs input:focus {
  border-color: var(--color-primary);
  outline: none;
}


.sortWrapper {
  position: relative;
  width: 12.5rem; 
}

.sortButton {
  width: 100%;
  height: 2.25rem;
  padding: 0 var(--space-sm);
  padding-right: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-bg);
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-sm);

  font-size: var(--fs-md);
  font-family: var(--font-main);
  color: var(--color-text);

  cursor: url("/src/assets/icons/hand.svg") 4 4, pointer;
  transition: var(--transition);
}

.sortButton:hover {
  border-color: var(--color-primary);
}


.arrow {
  width: 0.875rem;
  height: 0.875rem;
  transition: transform .2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background: var(--color-bg);
  color: var(--color-secondary);
  border-radius: var(--radius-sm);
  overflow: hidden;
  z-index: 20;

  padding: 0;
  margin: 0;
  list-style: none;
}

.option {
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--fs-md);
  cursor: url("/src/assets/icons/hand.svg") 4 4, pointer;
  transition: var(--transition);
}

.option:hover {
  background: var(--color-bg-alt);
}

.selected {
  color: var(--color-text);
}

/* Mobile */
@media (max-width: 61.6rem) { 
  .filterBar {
    flex-wrap: wrap;
    gap: var(--space-md);
  }

  .sortWrapper,
  .priceInputs input {
    width: 100%;
  }
}
