.filterBar {
  max-width: 908px;
  margin-bottom: 40px;

  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  align-items: center;
  
}


.filterBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  flex-shrink: 0;
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  white-space: nowrap;
}

/* Price */

.priceInputs {
  display: flex;
  align-items: center;
  gap: 12px;
}

.priceInputs input {
  width: 112px;
  height: 36px;
  padding: 0 12px;

  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-sm);

  font-family: var(--font-main);
  font-size: 16px;
  transition: var(--transition);
}

.priceInputs input:focus {
  border-color: var(--color-primary);
  outline: none;
}

/* Sort */

.sortWrapper {
  position: relative;
  width: 200px;
}

.sortButton {
  width: 100%;
  height: 36px;
  padding: 0 12px;
  padding-right: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: #fff;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-sm);
  
  font-size: 16px;
  font-family: var(--font-main);
  color: var(--color-text);
  cursor: url("/src/assets/icons/hand.svg") 4 4, pointer;
  transition: var(--transition);
}

.sortButton:hover {
  border-color: var(--color-primary);
}

.arrow {
  width: 14px;
  height: 14px;
  transition: transform .2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.sortButton:hover .arrow,
.arrow.open:hover {
  transform: scale(1.1) rotate(180deg);
}

/* Dropdown menu */
.dropdown {
  position: absolute;
  left: 0;

  width: 100%;
  background: #fff;
  color: var(--color-secondary);

  border-radius: var(--radius-sm);
  overflow: hidden;
  z-index: 20;

  list-style: none;   
  padding: 0;         
  margin: 0;
}

.option {
  padding: 8px 12px;
  font-size: 16px;
  cursor: url("/src/assets/icons/hand.svg") 4 4, pointer;
  transition: var(--transition);
}

.option:hover {
  background: var(--color-bg-alt);
}

.selected {
  color: var(--color-text);
}

/* Mobile */
@media (max-width: 768px) {
  .filterBar {
    flex-wrap: wrap;
    gap: 24px;
  }

  .sortWrapper,
  .priceInputs input {
    width: 100%;
  }
}
