.card {
  max-width: 19.75rem;
  height: 26.375rem;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-light);
  transition: var(--transition);
  cursor: url("/src/assets/icons/hand.svg") 4 4, pointer;
  overflow: hidden; 
}

.product {
  height: 26.375rem;
  gap: 1.25rem;
}

.productImg {
  width: 100%;
  height: 15.875rem;
  opacity: 1;

  border-bottom: 1px solid var(--color-border-light);
  position: relative;
  background: #fff;
  overflow: hidden;
}
.productImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--color-primary);
  color: #fff;
  font-size: var(--font-size-md);
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius-sm);
  z-index: 2;
}

.cardButton {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10px); /* чуть ниже изначально */
  width: calc(100% - 2rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease, transform .25s ease;
}


.card:hover .cardButton {
  opacity: 1;
  transform: translate(-50%, 0); /* поднимается чуть вверх */
  pointer-events: auto;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--fs-md);
  font-weight: 500;
  color: var(--color-text);
}
.price {
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--color-text);
  padding-right: 1rem;
}
.old {
  font-size: var(--fs-md);
  color: var(--color-secondary);
  text-decoration: line-through;
  font-weight: 500;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: url("/src/assets/icons/hand.svg") 4 4, pointer;
   border: 1px solid var(--color-bg);
}

.categoryImg {
  height: 21.875rem; 
  width: 100%;
  border-radius: var(--radius-lg);
  overflow: hidden;
  position: relative;
  background: #fff;
}

.categoryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform .3s ease, filter .3s ease;
}

.card:hover .categoryImg img {
  transform: scale(1.04);
  filter: brightness(1.05);
}

.info {
  padding: 0 32px;
}