.cartSection {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding: 0; 
}

.cartGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  gap: 3rem; 
  margin-top: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 992px) {
  .cartGrid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .right {
    justify-content: center;
  }
}
