.overlay {
  position: fixed;
  inset: 0;
  background: rgba(40, 40, 40, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  width: 34.25rem;          
  min-height: 14.75rem;    
  background: var(--color-primary);
  padding: 2rem;            
  border-radius: var(--radius-lg);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;                
}

.close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 1.5rem;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 2.5rem;        
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1rem;
}


.text {
  width: 26.5rem;            
  font-size: 1.25rem;        
  font-weight: 600;
  line-height: 1.1;
}


