.header {
  background: var(--color-bg);
  border-bottom: 1px solid var(--color-border-light);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.inner {
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Links remove underline */
.link,
.logo,
.cart {
  text-decoration: none;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

/* Desktop menu */
.navDesktop {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  font-weight: 500;
  font-size: var(--font-size-md);
  color: var(--color-text);
  transition: var(--transition);
  font-family: var(--font-main);
}

.link:hover {
  color: var(--color-primary);
}

.active {
  color: var(--color-primary);
  font-weight: 600;
}

/* Desktop cart */
.cartDesktop {
  display: block;
}

.cartBadge {
  position: absolute;
  top: 0.375rem; 
  left: -0.375rem; 
  height: 1.625rem;
  width: 1.625rem;
  background: var(--color-primary);
  color: white;
  font-size: 0.75rem;
  font-family: var(--font-main);
  padding: 6px 10px;
  border-radius: 50%;
  font-weight: 700;
}

/* Hide burger desktop */
.burger {
  display: none;
}

/* ===== MOBILE ===== */
.mobileMenu {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {

  .navDesktop,
  .cartDesktop {
    display: none;
  }
 
  .burger {
    display: block;
    position: absolute;
    right: 1rem; 
    top: 1.625rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  .inner {
    height: 100px;
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
  }

  /* Mobile fullscreen menu */
  
  .mobileMenu {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem 1.25rem;
    z-index: 2000;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  }
  

  .mobileTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .closeBtn {
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    margin-left: auto;
    padding: 8px;
    margin-right: 5%;
    line-height: 1;
  }

  .navMobile {
    display: flex;
    flex-direction: column;
    gap: 1.375rem; 
    margin-top: 2.5rem;
  }

  .cartMobile {
  margin-top: 3.75rem; 
  padding-top: 1rem;
  border-top: 1px solid var(--color-border-light);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-muted);
  text-align: left;
  width: 100%;
  }
}
.cartBadgeMobile {
  display: none;
}