.wrap {
  display: flex;
  align-items: center;
  gap: 1rem; 
  margin: 2rem 0 2rem;
}

.wrap h2 {
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 1px;
  background: var(--color-border-light);
}

.wrap a {
  text-decoration: none;
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
  font-weight: 500;
  background: var(--color-bg);
   padding: 0.5rem 1rem;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border-light);
  transition: .2s;
}

.wrap a:hover {
  border-color: var(--color-primary);
  color: var(--color-bg);
  background: var(--color-primary);
}

@media (max-width: 800px) { 
  .wrap {
    margin: 3rem 0 2rem; 
  }
}

@media (max-width: 590px) { 
  .wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .wrap h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
}
@media (max-width: 510px) { 
  .wrap {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    padding: 1rem;
  }
  .wrap h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
}
