.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.itemWrap {
  display: flex;
  align-items: center;
}

.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  padding: 10px 20px;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;

  background: #fff;
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
  text-decoration: none;
  transition: var(--transition);
}

.pill:hover {
  background: #F1F3F4;
  border: 1px solid var(--color-border-light);
}

.active {
  border-color: var(--color-border-light);
  color: var(--color-text);
  font-weight: 600;
}

.divider {
  width: 16px;
  height: 1px;
  background-color: var(--color-border-light);
}

/* Mobile */
@media (max-width: 768px) {

  .pill {
    padding: 8px 12px;
    font-size: 14px;
  }

  .divider {
    width: 12px;
  }
}

@media (max-width: 480px) {
  .pill {
    padding: 4px 8px; 
    font-size: 12px;
  }

  .divider {
    width: 8px;
  }
}
