.cartItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 11.25rem;
  gap: 3rem;
 padding-right: 1rem;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-lg);
}

.img {
  width: clamp(150px, 18vw, 220px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  flex-shrink: 0;
}

.info {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  color: var(--color-text);
}

.bottomRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
}

.priceWrap {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}

.price {
  font-size: 2.25rem;
  font-weight: 700;
}

.old {
  font-size: 1.25rem;
  color: var(--color-secondary);
  text-decoration: line-through;
}

.removeBtn {
  padding-top: 2rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.removeBtn:hover {
  color: var(--color-primary);
}
